body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2
}
header {
    width: 100%;
    height: 60px;
    background-color: #014687;
}
h1 {
    color: #fff;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 400;
    vertical-align: text-top;
}
h4 {
    font-weight: normal;
    font-size: 24px;
}
a#start {
    margin-top: 20px;
    padding: 4px;
    padding-top: 10px;
    display: block;
    background-color: #014687;
    width: 200px;
    height: 34px;
    font-size: 18px;
    float: left;
    margin-bottom: 40px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
form {
    display: block;
    width: 960px;
}
form > .measure {
    width: 400px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
}
form > #dd {
    padding: 4px;
    width: 150px;
    height: 34px;
    font-size: 18px;
    float: left;
    margin-bottom: 40px;
    font-weight: 100;
    color: #666666;
}
form > input#button {
    clear: both;
    float: left;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #014687;
    color: #fff;
    border-radius: 5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 150px;
}
td, th:nth-child(1) {
    width: 100px;
}
td, th:nth-child(2) {
    width: 50px;
}
td, th:nth-child(3) {
    width: 50px;
}
td, th:nth-child(4) {
    width: 50px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}